# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.staging
.env.production

# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
assets/
# React Native Codegen + New Architecture (VERY IMPORTANT)
android/app/build/
android/app/.cxx/
**/build/generated/
**/build/intermediates/
**/.ReactCodegen-*
**/_ReactCodegen-*
**/_RN*-dummy.m
**/_RN*-prefix.pch
**/_ReactCommon-*
**/_ResourceBundle-*
**/ReactCodegen-*
**/react_codegen_*

# Node.js & React Native
node_modules/
ios/Pods/
ios/build/
npm-debug.log
yarn-error.log
*.jsbundle
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Testing
/coverage

# Misc
**/.xcode.env
.DS_Store
Thumbs.db

screens/config/aiConfig.ts